/* ================
PCスマホ共通
================== */

body{
  color: #000000;
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
 } 

 /* bodyの予約をなくす（追加） */
body {
 padding: 0px;
 margin: 0px;
}

 /*=================
 PC用スタイル
 ===================*/
 @media screen and (min-width: 768px) {


 /* 不要につき削除
 body{
  max-width: 1080px;
  min-width: 960px;
  margin: 0 auto 0 auto;
}
  */

/*-------------------------------------------
ヘッダー
-------------------------------------------*/

/*ナビゲーションのレイアウト*/
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto 20px auto;
  max-width: 960px;
}

.myprofile {
  border: 1px solid black;
  padding: 0 20px;
  margin-left: 20px;
}

/*  メニューの余白（追加）*/
.nav-pc > a {
  margin-left: 20px;
  margin-right: 20px;
}

/* ナビゲーションのリンク装飾 */
nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 34px;
}
/* （追加）
nav a {
  font-family:"Noto Sans JP", sans-serif;
}
 */
/*-------------------------------------------
Main visual（修正
-------------------------------------------*/
/* (追加） */
#photo-image {
  width: 100%;
}
img {
  margin: 0 auto;
  max-width: 100%;
}

/*-------------------------------------------
About
-------------------------------------------*/

h1 {
  font-size: 34px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

/* (追加） */
h1 {
  padding-bottom: 60px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  margin: 20px auto 20px auto;
  max-width: 960px;
}

/* （最初に追加） */
.circle {
  border-radius: 50%;
}

/* （追加） */
.circle {
  width: 280px;
  height: 280px;
  object-fit:cover;
  border: 3px solid #999;
  padding: 3px;
}

/* (最初に追加） */
.content {
  padding-left: 40px;
  margin: 0 auto;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

li {
  font-size: 18px;
}

/*-------------------------------------------
Works
-------------------------------------------*/
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 20px auto;
  max-width: 960px;
}

/* (追加）親要素の２５％？ */
.item {
  width: 25%;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-size: 18px;
}

/* （削除）
footer {
  text-align: center;
}
 */

/* （追加と修正） */
footer p {
  text-align: center;
  padding-bottom: 20px;
}

/* divの不要空白を削除（追加）インラインブロックの親要素に『font-size: 0;』を適用 */
div {
  font-size: 0;
}

/* PC用閉じタグ */
 }

 /* =============
 スマホ用デザイン 
 ================*/
 @media (max-width: 767px) {
  .item {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    }

 }
